<!DOCTYPE html>
<html ng-app="statelessApp">
<head lang="en">
	<title>Stateless Authentication</title>			
	<script src="../resources/js/angular.js"></script>
	<script src="../resources/js/controllers.js"></script>
</head>
<body ng-controller="AuthCtrl" ng-init="init()" style="padding: 10% 20%">
	<div ng-hide="authenticated">
		<table>
			<tr>
				<td colspan="2" align="center"><b>Login here: </b></td> 
			</tr>
			<tr>
				<td><label for="un">Username: </label></td>
				<td><input id="un" type="text" ng-model="username"></td>		
			</tr>
			<tr>
				<td><label for="pw">Password: </label></td>
				<td><input id="pw" type="password" ng-model="password"></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><button ng-click="login()">Login</button></td>
			</tr>
		</table>		
	</div>
	<div ng-show="authenticated">
		Logged in as {{username}} <button ng-click="logout()">Logout</button><br><br>
		Token content: <pre>{{token | json}}</pre>
	</div>
</body>
</html>